.united {
  // background: var(--main-color);
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.8) 70%
    );
  }

  &__container {
    @media screen and (min-width: $breakpoint-xl) {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 360px);
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 45px;
    letter-spacing: -1px;

    @media screen and (min-width: $breakpoint-xl) {
      margin: 0;
    }
  }

  &__cards {
    position: relative;
    display: grid;
    gap: 30px;
    @media screen and (min-width: $breakpoint-xl) {
      gap: 36px;
    }
    @media screen and (min-width: $breakpoint-xxl) {
      gap: 41px;
    }
  }

  &__card {
  }

  &__card-title {
    font-family: "Oswald";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 5px;

    @media screen and (min-width: $breakpoint-xl) {
      font-size: 20px;
    }
    @media screen and (min-width: $breakpoint-xxl) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }

  &__card-text {
  }
}
